.section {
  box-sizing: border-box;
  height: 100%;
  padding: 10px 18px;
}

.s-hidding {
  transition: opacity 1s;
  opacity: 0;
}

.h-content {
  border-radius: 20px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.s-content {
  border-radius: 20px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}